<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="empty.sdf"/>
    <arg name="gui" default="false"/>

    <!-- robot -->
    <include file="$(find-pkg-share sphero_rvr_description)/launch/robot.launch">
        <arg name="use_sim" value="true"/>
    </include>

    <!-- controllers -->
    <include file="$(find-pkg-share sphero_rvr_controllers)/launch/sphero_rvr_controllers.launch"/>

    <!-- localisation -->
    <include file="$(find-pkg-share sphero_rvr_navigation)/launch/localisation.launch"/>

    <!-- slam -->
    <include file="$(find-pkg-share sphero_rvr_navigation)/launch/slam_toolbox.launch" />

    <!--- nav2 -->
    <!-- <include file="$(find-pkg-share sphero_rvr_navigation)/launch/nav2.launch" /> -->

    <!-- gazebo -->
    <include file="$(find-pkg-share ros_gz_sim)/launch/gz_server.launch">
        <arg name="world_sdf_file" value="$(var world_name)"/>
    </include>

    <!-- gz bridge -->
    <node name="ros_gz_bridge" pkg="ros_gz_bridge" exec="parameter_bridge">
        <param name="config_file" value="$(find-pkg-share sphero_rvr_gazebo)/config/gz_bridge.yaml"/>
    </node>

    <!-- robot spawner -->
    <node name="rvr_spawner" pkg="ros_gz_sim" exec="create"
        args="-name rvr -topic robot_description -x -0.3 -y -0.3 -z 0.1" />
</launch>
